header {
    background-color: aquamarine;
}

body {
    background-color: aquamarine;
}


.myHouseLogo {
    position: relative;
    left: 610px;
    border: 2px solid black; 
    height: 150px;
    width: 400px;
}

.kwLogo {
    position: relative;
    left: 720px;
    border: 2px solid black;
    height: 35px;
    width: 175px;
}

.button-container {
    margin: 0;
    position: relative;
    left: 665px;
    
}

#contact, #buy, #sell {
    position: relative;
    align-items: center;
    border: 2px solid black;
    border-radius: 5%;
    background-color: green;
    color: whitesmoke;
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.5s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}





